{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Manage Friends {{ direction }} {{ slug }} {% endblock %}

{% block content %}
<div class="container my-2">
    <h4>Connection {{ direction }} other persons</h4>
    {% crispy formset helper %}
</div>
{% endblock %}
