{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="d-md-flex align-items-center flex-column justify-content-center h-100">
    <div>
        <h2 class='bg-success p-2 rounded-top text-light mb-0'>Change Password</h2>
        <form method="POST" class="bg-light p-2">
            {% csrf_token %}
            {{ form|crispy }}
            <button class='btn btn-primary'>Submit</button>
        </form>
    </div>
</div>
{% endblock %}