{% extends 'base.html' %}

{% block title %}Search User{% endblock %}
{% block content %}
{% with param=request.GET %}
    <div class="container my-2">
        <div class="row">
            <div class="col-8">
                <h4 class='mt-2'>
                    Popular Users 
                </h4>
                <ol>
                    {% for result in popular_users_results %}
                        <li><a href="{% url 'dynabook:profile' result.user.person.slug %}">{{ result.user.get_full_name }}</a></li>
                    {% empty %}
                        <li>No results</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="col-4">
                <h4 class='bg-secondary rounded-top px-2 py-1 mb-0 row mx-auto'>
                    <span class="col-md-9">Period</span>
                    <small class="col-md-3"><a href="?">(Clear)</a></small>
                </h4>
                <div class="bg-light border border-bottom border-secondary">
                    <ul>
                        <li><a href="?f=daily">Daily</a></li>
                        <li><a href="?f=weekly">Weekly</a></li>
                        <li><a href="?f=monthly">Monthly</a></li>
                        <li><a href="?f=yearly">Yearly</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endwith %}
{% endblock %}