{% extends 'base.html' %}

{% block title %}Profile - {{ person.slug }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Profile</h2>
            <div class="row">
                <div class="col-3">Name</div>
                <div class="col-9">{{ person.user.get_full_name }}</div>
            </div>
            <div class="row">
                <div class="col-3">Email Address</div>
                <div class="col-9">{{ person.user.email }}</div>
            </div>
            <div class="row">
                <div class="col-3">Actions</div>
                <div class="col-9">
                {% if user.is_authenticated %}
                    {% if status_self %}
                        <a href="{% url 'dynabook:profile_edit' person.slug %}" class='btn btn-warning'>Edit Profile</a>
                    {% endif %}
                    {% if not status_self and user.person %}
                        {% if status_accept_or_reject_request %}
                            <a href="{% url 'dynabook:change_status' person.slug status.A.value %}" class='btn btn-primary'>Accept Friend Request</a>
                            <a href="{% url 'dynabook:change_status' person.slug status.R.value %}" class='btn btn-warning'>Reject Friend Request</a>
                        {% elif status_cancel_request %}
                            <a href="{% url 'dynabook:change_status' person.slug status.C.value %}" class='btn btn-warning'>Cancel Friend Request</a>
                        {% elif status_friend %}
                            <a href="{% url 'dynabook:change_status' person.slug status.D.value %}" class='btn btn-danger'>Defriend</a>
                        {% elif status_block_source %}
                            <a href="{% url 'dynabook:change_status' person.slug status.U.value %}" class='btn btn-warning'>Unblock Person</a>
                        {% else %}
                            {% if not status_block_target %}
                                <a href="{% url 'dynabook:change_status' person.slug status.P.value %}" class='btn btn-primary'>Add Friend</a>
                            {% endif %}
                        {% endif %}
                        {% if not status_block_source %}
                            <a href="{% url 'dynabook:change_status' person.slug status.B.value %}" class='btn btn-danger'>Block Person</a>
                        {% endif %}
                    {% endif %}
                    {% if user.is_staff %}
                        <a href="{% url 'dynabook:profile_edit_staff' person.slug %}" class='btn btn-warning'>Edit Profile (Staff)</a>
                        <a href="{% url 'dynabook:manage_friends' person.slug 'to' %}" class='btn btn-warning'>Manage Connection TO Others (Staff)</a>
                        <a href="{% url 'dynabook:manage_friends' person.slug 'from' %}" class='btn btn-warning'>Manage Connection FROM Others (Staff)</a>
                    {% endif %}
                {% else  %}
                    <a class="btn btn-primary" href="{% url 'dynabook:login' %}?next={{ request.path }}">Login to Connect</a>
                {% endif %}
                </div>
            </div>
            {% if status_friend or status_self or user.is_staff  %}
                <h3>Friends</h3>
                <ul>
                {% for friend in friends %}
                    <li>
                        <a href="{% url 'dynabook:profile' friend.slug %}">
                            {{ friend.name }}
                            {% if friend.slug == request.user.person.slug %}
                                (ME)
                            {% endif %}
                        </a>
                    </li>
                {% empty %}
                    <li> No Friends Yet </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}