{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Edit - {{ user.person.slug }}{% endblock %}

{% block content %}
<div class="row my-3">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class='bg-success p-2 rounded-top text-light mb-0 w-100'>Edit Profile</h3>
        <form method='POST' class='p-2 bg-light'>
            {% csrf_token %}
            {{ form|crispy }}
            <button class='btn btn-primary'>Submit</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}