{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="d-md-flex align-items-center flex-column justify-content-center h-100">
    <div>
        <h3 class='bg-success p-2 rounded-top text-light mb-0 w-100'>Register</h3>
        {% crispy form %}
    </div>
</div>
{% endblock %}