{% extends 'base.html' %}

{% block title %}Search User{% endblock %}
{% block content %}
{% with param=request.GET %}
    <div class="container my-2">
        <div class="row">
            <div class="col-8">
                <form method='GET'>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Search Users</span>
                        </div>
                        <input type="text" name="q" class="form-control" aria-label="Search" value="{{ param.q }}" autofocus>
                        {% if param.o %}
                            <input type="hidden" name="o" value="{{ param.o }}">
                        {% endif %}
                        {% if param.s %}
                            <input type="hidden" name="s" value="{{ param.s }}">
                        {% endif %}
                        <div class="input-group-append">
                            <button class="btn btn-success">Go</button>
                        </div>
                    </div>
                </form>
                <h4 class='mt-2'>
                    Results
                    {% if user.is_staff %}
                        <a href="{% url 'dynabook:export' %}?q={{ param.q }}&o={{ param.o }}&s={{ param.s }}" class='btn btn-warning'>Export</a>
                    {% endif %}
                </h4>
                <table class="table table-striped table-hover my-2">
                    <thead class="bg-secondary">
                        <tr>
                            <td><a href="?{% if param.q %}q={{ param.q }}{% endif %}{% if param.o %}{% if param.q %}&{% endif %}o={{ param.o }}{% endif %}{% if not param.s or param.s != 'name' and param.s != '-name' %}{% if param.q or param.o %}&{% endif %}s=name{% elif param.s == 'name' %}{% if param.q or param.o %}&{% endif %}s=-name{% endif %}{% if param.page %}&page={{ param.page }}{% endif %}">Name</a></td>
                            <td><a href="?{% if param.q %}q={{ param.q }}{% endif %}{% if param.o %}{% if param.q %}&{% endif %}o={{ param.o }}{% endif %}{% if not param.s or param.s != 'date_joined' and param.s != '-date_joined' %}{% if param.q or param.o %}&{% endif %}s=date_joined{% elif param.s == 'date_joined' %}{% if param.q or param.o %}&{% endif %}s=-date_joined{% endif %}{% if param.page %}&page={{ param.page }}{% endif %}">Date Joined</a></td>
                            <td><a href="?{% if param.q %}q={{ param.q }}{% endif %}{% if param.o %}{% if param.q %}&{% endif %}o={{ param.o }}{% endif %}{% if not param.s or param.s != 'count' and param.s != '-count' %}{% if param.q or param.o %}&{% endif %}s=count{% elif param.s == 'count' %}{% if param.q or param.o %}&{% endif %}s=-count{% endif %}{% if param.page %}&page={{ param.page }}{% endif %}">Friend Count</a></td>
                            {% if user.is_staff %}
                                <td><a href="?{% if param.q %}q={{ param.q }}{% endif %}{% if param.o %}{% if param.q %}&{% endif %}o={{ param.o }}{% endif %}{% if not param.s or param.s != 'dcount' and param.s != '-dcount' %}{% if param.q or param.o %}&{% endif %}s=dcount{% elif param.s == 'dcount' %}{% if param.q or param.o %}&{% endif %}s=-dcount{% endif %}{% if param.page %}&page={{ param.page }}{% endif %}">Defriend Count</a>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in search_results %}
                        <tr>
                            <td><a href="{% url 'dynabook:profile' result.user.person.slug %}">{{ result.user.get_full_name }}</a></td>
                            <td>{{ result.user.date_joined }}</td>
                            <td>{{ result.user.person.get_friends_count }}</td>
                            {% if user.is_staff %}
                                <td>{{ result.user.person.get_defriended_count }}</td>
                            {% endif %}
                        </tr>
                    {% empty %}
                        <tr class='table-danger'>
                            <td colspan="3" class='text-center'>No users' match the query</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}{% if param.q %}&q={{ param.q }}{% endif %}{% if param.o %}&o={{ param.o }}{% endif %}{% if param.s %}&s={{ param.s }}{% endif %}">Previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}{% if param.q %}&q={{ param.q }}{% endif %}{% if param.o %}&o={{ param.o }}{% endif %}{% if param.s %}&s={{ param.s }}{% endif %}">Next</a>
                        {% endif %}
                    </span>
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <h4 class='bg-secondary rounded-top px-2 py-1 mb-0'>Filter</h4>
                <div class="bg-light border border-bottom border-secondary">
                    <h5 class="row mx-auto">
                        <span class="col-md-9">Date Joined</span>
                        <small class="col-md-3">
                            <a href="?{% if param.q %}q={{ param.q }}{% endif %}{% if param.s %}{% if param.q %}&{% endif %}s={{ param.s }}{% endif %}">(Clear)</a>
                        </small>
                    </h5>
                    <ul>
                        <li><a href="?{% if param.q %}q={{ param.q }}&{% endif %}o=yesterday{% if param.s %}&s={{ param.s }}{% endif %}">Yesterday</a></li>
                        <li><a href="?{% if param.q %}q={{ param.q }}&{% endif %}o=lastweek{% if param.s %}&s={{ param.s }}{% endif %}">Last Week</a></li>
                        <li><a href="?{% if param.q %}q={{ param.q }}&{% endif %}o=lastmonth{% if param.s %}&s={{ param.s }}{% endif %}">Last Month</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endwith %}
{% endblock %}